// COLORS
$primary-color: #3a9393;
$primary-color-light: #075f5f;
$primary-color-dark: #084444;
$white-tint: #fffafc;
$white: #ffffff;

// BORDER
$border-color: rgb(247, 247, 247);

// SHADOW
$box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 2px 0px;
