@import "./_variables/mixins";
@import "./_variables/variables";

.About__Container {
  background-color: white;
  padding: 1em 0;
}

.Restaurant__Slider {
  width: 100%;
  max-width: 100%;
  padding: 2em 0;

  .About__Box {
    width: 100%;
    background-color: #dadada25;
    border-radius: 2px;
    border: 0.3px solid rgba(204, 204, 204, 0.1129);
    display: flex;
    flex-direction: column;
    gap: 0.6em;

    h1 {
      @include Title;
      font-size: clamp(2rem, 1vw, 40px);
      color: black;
    }

    p {
      @include Description;
      //   font-weight: 600;
      font-size: 14px;
    }

    .btn {
      @include Button;
      background-color: #b6142d;
      color: white;
    }

    .About__Text__Description {
      padding: 1em;
    }

    .About__Img {
      background-color: #b6142d;
    }

    .About__Img img {
      width: 100%;
      max-width: 100%;
      border-radius: 2px;
    }
  }
}
