.Footer__Container {
  padding: 2em 0;
  background-color: #1f1f1f;
  color: white;
  line-height: 1.5;

  h6 {
    margin-top: 2px;
    text-align: center;
  }

  .Footer__Content {
    display: grid;
    width: 100%;
    justify-content: space-between;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 1em;

    .box {
      h1 {
        font-size: 1.5em;
        color: white;
      }

      p {
        margin: 0.5em 0;
        font-weight: 300;
        color: rgb(230, 224, 224);
      }

      ul {
        li {
          margin: 0.5em 0;
          color: rgb(230, 224, 224);
        }
      }
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
}

.Footer__incorp {
  h6 {
    font-weight: 400;
    font-size: 12px;
  }
}
