@import "./_variables//mixins";
@import "./_variables/variables";

.Header__Container {
  background-color: $white-tint;
  background: url(../public/assets/images/home-1.jpeg);
  // background: linear-gradient(90deg, $white-tint 65%, $primary-color 0%);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  object-fit: cover;
}

.Layout__constraint {
  @include Constraints;
}
