@import "./_variables//mixins";
@import "./_variables/variables";

.Header__Container {
  position: relative;
  background-color: $white-tint;
  background: url(../public/assets/images/red.jpeg);
  // background: linear-gradient(90deg, $white-tint 65%, $primary-color 0%);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  object-fit: cover;
  z-index: 999;

  &::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    left: 0;
    width: 100%;
    height: 160px;
    top: auto;
    bottom: -120px;
    z-index: 1;
    background: url(../public/assets/images/wavy.webp);
  }
}

.Layout__constraint {
  @include Constraints;
}
