@import "./_variables/mixins";
@import "./_variables/variables";

.Hero__Container {
  padding: 40px 0 50px 0;

  @media (max-width: 768px) {
    padding: 20px 0 40px 0;
  }
}

.Hero__Container--Text {
  width: 100%;
  max-width: 60%;

  @media (max-width: 768px) {
    max-width: 100%;
  }

  .Hero__Greet {
    font-size: clamp(2rem, 1vw, 30px);
    border: 1px solid rgb(213, 145, 20);
    padding: 0.1em 0.5em 0.1em 0;
    border-radius: 30% 70% 44% 56% / 50% 70% 83% 50%;
  }

  h1 {
    font-size: clamp(3rem, 1vw, 40px);
    text-transform: capitalize;
    color: white;
    position: relative;
  }

  p {
    font-size: clamp(1.2rem, 1vw, 2rem);
    margin: 1em 0;
    opacity: 0.8;
    color: white;
    line-height: 1.5;
  }

  .Search__For__Restaurant {
    width: 100%;
    flex: 0 1 1;
    display: flex;
    gap: 0.3em;
    padding: 0.5em 1em;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    border-radius: 2px;

    &:focus {
      outline: none;
      border-bottom: 1px solid rgb(0, 0, 0);
    }

    input {
      width: 100%;
      padding: 1em 1em;
      border: none;
      color: rgb(213, 145, 20);
      background-color: white;
      transition: all 0.3s ease-in-out;
      outline: none;

      color: black;

      &:focus {
        border-bottom: 1px solid rgb(0, 0, 0);
      }

      &::placeholder {
        font-weight: 400;
        letter-spacing: 1px;
        color: #333;
      }
    }
  }

  button {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
