@import "./_variables/mixins";
@import "./_variables/variables";

.Navigation__Container {
  //   background-color: $white-tint;
  //   box-shadow: $box-shadow;
  //   border-bottom: 0.2px solid $border-color;
  width: 100%;
}

nav,
.Right-Navigation,
.Navigation__List {
  @include Flex;
  justify-content: space-between;
  gap: 2em;
}

nav {
  position: relative;
  padding: 1.1em 0;

  .Left-Navigation {
    h1 {
      font-family: "Montserrat", sans-serif;
      color: white;
    }
  }
}

@media (max-width: 768px) {
  .active {
    left: 0 !important;
  }
}

.Right-Navigation {
  .Navigation__li {
    font-weight: 600;
    color: white;
  }

  button {
    @include Button;
    padding: 0.8125rem 1.5625rem;

    @media (max-width: 768px) {
      margin: 0 2em;
      color: white;
      width: calc(100% - 4em);
      background-color: black;
      padding: 0.8125rem 1.5625rem;
    }
  }

  @media (max-width: 768px) {
    width: 60%;
    display: block !important;
    background: white;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    object-fit: cover;
    border-radius: 0;
    position: fixed;
    top: 0;
    left: -100%;
    right: 0;
    bottom: 0;
    height: 100vh;
    z-index: 9999;
    transition: all 0.5s ease-in-out;
    color: black !important;

    .Navigation__List {
      display: block;

      .Navigation__li {
        font-weight: 600;
        color: green;
      }

      li {
        display: block;
        border-bottom: 1px solid #f3f3f2;
        margin: 1.5em 2em;
      }

      .Navigation__li {
        font-weight: 600;
        color: black;
      }
    }
  }
}

.Navigation__Mobile {
  position: relative;
  display: none;
  cursor: pointer;
  z-index: 9999;

  @media (max-width: 768px) {
    display: block;
  }
}
