@import "./_variables/mixins";
@import "./_variables/variables";

.About__Container {
  background-color: white;

  h1 {
    @include Title;
    font-size: clamp(1.7rem, 1vw, 30px);
  }
}

.Restaurant__Slider {
  width: 100%;
  max-width: 100%;
  margin: 1em 0;
  display: flex;
  gap: 2em;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-snap-type: x mandatory !important;

  &::-webkit-scrollbar {
    display: none;
  }

  .About__Box {
    width: 100%;
    background-color: #dadada25;
    border-radius: 3px;
    border: 0.3px solid rgba(204, 204, 204, 0.1129);
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;

    h1 {
      @include Title;
      font-size: clamp(1.5rem, 1vw, 30px);
      color: black;
    }

    p {
      @include Description;
      //   font-weight: 600;
      font-size: 14px;
    }

    .btn {
      @include Button;
      background-color: #b6142d;
      color: white;
    }

    .About__Text__Description {
      padding: 1em;
    }

    .About__Img {
      background-color: #b6142d;
      width: 250px !important;
    }

    .About__Img img {
      width: 100%;
      max-width: 100%;
      border-radius: 2px;
    }
  }
}
