@import "./_variables/mixins";
@import "./_variables/variables";

.About__Container {
  background-color: white;
  margin-bottom: 3em;

  h1 {
    @include Title;
    font-size: clamp(1.7rem, 1vw, 30px);
  }
}

.Restaurant__Slider__Grid {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) !important;
  grid-gap: 2em !important;
  // margin-bottom: 1em;

  @media (max-width: 768px) {
    grid-template-columns: 1fr !important;
  }
}

.Restaurant__Slider {
  background-color: white !important;
  width: 100%;
  max-width: 100%;
  margin: 1em 0;
  display: flex;
  gap: 2em;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-snap-type: x mandatory !important;

  &::-webkit-scrollbar {
    display: none;
  }

  .About__Box {
    width: 100%;
    background-color: rgba(218, 218, 218, 0.145);
    border-radius: 3px;
    border: 0.3px solid rgba(204, 204, 204, 0.1129);
    display: flex;
    flex-direction: column;
    gap: 0.6em;

    transition: all 0.5s ease-in-out;
    scroll-snap-type: x mandatory !important;

    h1 {
      @include Title;
      font-size: clamp(1.5rem, 1vw, 30px);
      color: black;
    }

    p {
      @include Description;
      //   font-weight: 600;
      font-size: 14px;

      &:nth-child(3) {
        margin-top: 0;
      }
    }

    .btn {
      @include Button;
      background-color: #b6142d;
      color: white;
    }

    .About__Text__Description {
      padding: 1em;

      .Restaurant__Review__Tab {
        background-color: transparent;
        display: flex;
        align-items: center;
        gap: 0.5em;

        p,
        p span {
          opacity: 0.8 !important;
        }
      }
    }

    .About__Img {
      background-color: #b6142d;
      width: 250px !important;
    }

    .Restaurant__Img {
      width: 100% !important;
    }

    .About__Img img {
      width: 100%;
      max-width: 100%;
      border-radius: 2px;
    }
  }

  &:hover {
    .About__Box {
      background-color: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    }
  }
}

.Restaurant__Header__text {
  color: white !important;
  padding: 1em 0;
  text-align: center !important;

  h2 {
    @include Title;
    font-size: clamp(1.5rem, 1vw, 30px);
    color: white;
  }

  h4 {
    @include Description;
    font-size: clamp(1rem, 1vw, 30px);
    color: white;
    font-weight: 400;
  }
}
